@font-face {
    src: url('fontawesome-webfont.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Regular.otf');
}

.label{
    -fx-font-size: 10;
}

.h3 {
    -fx-padding: 6 6 6 10;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

.vpl {
    -fx-background-color: white;
}

.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-font-family: 'Source Code Pro';
}

.list-view .list-cell {
    -fx-text-fill: #5F5F5F;
}

.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected, .list-cell:filled:hover {
    -fx-background-color: salmon;
    -fx-text-fill: white;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: salmon;
    -fx-text-fill: white;
}

.list-view .list-cell:even {  
    -fx-background-color: rgba(127,127,127,0.5);
}

.list-view .list-cell:odd { 
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical:disabled {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-opacity: 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.titled-pane > .title 
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane > *.content 
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-box-border: transparent;
    -fx-padding: 0.167em;
}

.vpl-element {
    -fx-background-color: transparent;
    -fx-background-insets: 5 5 5 5;
}

.vpl-button{
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-font-family: FontAwesome;
    -fx-font-size: 24;
    -fx-text-fill: #6385c7;
}

.vpl-tag{
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-text-fill: #6385c7;
    -fx-highlight-fill: #6385c7;
}

.selection-rectangle {
    -fx-border-color: lightgrey;
    -fx-border-width: 3;
    -fx-border-style: dotted;
    -fx-border-radius: 10;
}

.hub {
    -fx-background-color: white;
    -fx-background-insets: 6 1 6 1;
    -fx-background-radius: 12;
    -fx-border-color: lightgrey;
    -fx-border-insets: 5 0 5 0;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-padding: 10;
}

.hub-selected {
    -fx-border-color: black;
}

.hub:hover {
    -fx-border-color: black;
}

.hub-header{

}

.hub-awesome-icon{
    -fx-font-family: FontAwesome;
    -fx-font-size: 30;
    -fx-text-fill: black;
}

.hub-awesome-icon:hover{
    -fx-text-fill: salmon;
}

.hub-text{
    -fx-font-size: 30;
    -fx-text-fill: #5F5F5F;
    -fx-font-weight: bold;
}

.hub-group {
    -fx-background-color: transparent;
    -fx-border-color: lightblue;
    -fx-border-insets: -10;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 10;
}

.port{
    -fx-min-width: 24;
    -fx-min-height: 24;
    -fx-background-radius: 12;              
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}

.port-active{
    -fx-min-width: 24;
    -fx-min-height: 24;
    -fx-background-color: #d35f5f;
    -fx-background-insets: 4;
    -fx-background-radius: 8;              
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}

.port-in{

}

.port-out{

}

.in-port-box{
    -fx-spacing: 10;
    -fx-padding: 0 10 0 0;
}


.out-port-box{
    -fx-spacing: 10;
    -fx-padding: 0 0 0 10;
}


.connection{
    -fx-fill: null;
    -fx-stroke: #6385c7;
    -fx-stroke-width: 2;
    -fx-stroke-style: solid;
}

.temp-line{
    -fx-stroke: lightgrey;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 0 6;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: round;
}