@font-face {
    src: url('fontawesome-webfont.ttf');
}

.ticker {
    -fx-padding: 0;
    -fx-label-padding: 0 ;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-family: FontAwesome;
    -fx-font-size: 12;
    -fx-text-fill: black;    
    -fx-alignment: top-center;
}

.ticker:focused{
    -fx-text-fill: #6385c7;    
}

.value-button {
    /*    -fx-padding: 0;
        -fx-label-padding: 0;*/
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    /*-fx-font-family: FontAwesome;*/
    /*-fx-font-family: Arial;*/
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-alignment: center-left;
}

.value-field{
    /*    -fx-padding: 0;
        -fx-label-padding: 0;*/
    -fx-highlight-fill: #6385c7;
    -fx-highlight-text-fill: white;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    /*-fx-font-family: Arial;*/
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-alignment: center-left;
}
